.card {
  border-radius: 0.9rem;
  border: 1px solid rgba(45, 52, 84, 0.116);
  transition: 200ms;
}

.rounded-top {
  border-top-left-radius: 0.7rem !important;
  border-top-right-radius: 0.7rem !important;
}

.table {
  padding: 0 5rem
}

.table-hover {
  tbody {
    tr td:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    tr td:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}