$primary: #00a5e0;
$primary-light: #6af4f6;
$secondary: #AFD470;
$secondary-light: #82889c;
$oxford: #011936;
$oxford-light: #2f3f60;
$oxford-dark: #000011;
$title-color: #49515f;
$text-color: #49515f;
$default-background: #f2f3f8;